body {
    height: 100%;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

section {
    position: relative;
    width: 100%;
    height: 100%;
}

#firstPage {
    text-align: center;
    background-image: url("/background.gif")
}

#firstPage .title {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 16;
    border-radius: 10px;
    z-index: 1;
}

#secondPage {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.aboutme {
    text-align: center;
}

.socials {
    text-align: center;
}

.card {
    width: 18rem;
    max-height: 200px;
    margin-bottom: 2rem;
}

.card-header {
    font-size: 25px;
    font-weight: bold;
}

.card-body a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.jumbotron {
    max-width: 1248px;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

.jumbotron p {
    font-size: 25px;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.discord {
    position: absolute;
    z-index: 9999;
    display: none;
    width: 600px;
    border: none;
    border-radius: 8px;
    margin: 0 auto;
    float: none;
    margin-top: 50px;
    background-color: #18181D;
    color: #FFFFFF;
}

/*Banner*/
.banner {
    position: relative;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

/*Banner with dominant profile picture color*/
.color {
    height: 120px;
    background-color: rgb(13, 150, 211);
}

.close {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 10px;
    color: red;
}

.avatar {
    position: absolute;
    width: 120px;
    height: 120px;
    bottom: -55px;
    left: 16px;
}

/*Discord User Profile Picture*/
.profile-image {
    width: 120px;
    height: 120px;
    border: 8px solid #18181D;
    border-radius: 50%;
}

/*Discord User Flags*/
.btn-group {
    top: 16px;
    left: 150px;
}

.btn-group > img {
    width: 30px;
    height: 30px;
}

.username {
    display: flex;
    margin-top: 60px;
    padding: 0 16px;
}

.username > span {
    display: flex;
    font-size: 20px;
    font-weight: 600;
}

.bio {
    padding: 0 0 16px 16px;
}

.bottom-section {
    height: 155px;
    border-top: 1px solid #ffffff0f;
}

.container {
    overflow: auto;
    height: 100%;
    padding-bottom: 16px;
}

.container::-webkit-scrollbar-track {
    border-color: transparent;
    background-color: transparent;
    border: 2-x solid transparent;
}

.container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.container::-webkit-scrollbar-thumb
{
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: #202225;
    min-height: 40px;
}

.container > div.row {
    margin-top: 20px;
}

.connectedAccount {
    display: flex;
    align-items: center;
    padding: 8px 14px 8px 8px;
    width: 240px;
    border: 1px solid;
    border-radius: 3px;
    border-color: #ffffff0f;
}

.connectedAccount > img {
    width: 30px;
    height: 30px;
}

.connectedAccountName {
    flex-grow: 1;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
}

.accountLink > a {
    width: 18px;
    height: 18px;
    text-decoration: none;
    color: #b9bbbe;
}